@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark;
    logs: false;
}

@theme {
    --color-primary: #6366f1;
    --color-secondary: #9333ea;
    --font-base: 'Inter', sans-serif;
}
