.progressbar {
    width: 100%;
}

.progressbar .inner {
    height: 15px;
    animation: progressbar-countdown;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
}

#toasts > div:hover .inner {
    animation-play-state: paused !important;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #0F0;
    }

    100% {
        width: 0;
        background: #F00;
    }
}
